
<div>
    <legend>Client Search</legend>
    <form class="form-inline">
        <input type="text" placeholder="Last, First Name...">
        <button>Search</button>
    </form>
</div>

<div>
    <legend> Select Customer</legend>
    Results table...
</div>

<div>
    <legend> Client information</legend>
    <table class="table table-bordered">
        <tr><th colspan="2">Client</th></tr>
        <tr><th>Customer Name:</th><td><input type="text"></td></tr>
        <tr><th>Phone:</th><td><input type="text"></td></tr>
        <tr><th>Email:</th><td><input type="email"></td></tr>
        <tr><th>Best Way to Receive Media:</th><td><input type="email"></td></tr>
        <tr><th>Emergency Contact:</th><td></td></tr>
        <tr><th>Vet Name:</th><td><input type="text"></td></tr>
        <tr><th>Vet Phone:</th><td><input type="text"></td></tr>
    </table>
    <button class="btn btn-primary" ng-click="saveClient()">Save</button>
    <button class="btn btn-danger">Cancel</button>

</div>