
<div ng-show="clientSearch">
    <legend>Client Search</legend>
    <form class="form-inline">
        <input type="text" ng-model="clientSearchParameter" placeholder="Last Name...">
        <button  class="btn btn-primary" ng-click="clientSearchFx();">Search</button>
    </form>
</div>

<div ng-show="clientResults">
    <legend> Select Customer</legend>
    <table  class="table table-bordered">
        <tr><th></th><th>Last</th><th>First</th><th>Dogs</th></tr>
        <tr ng-repeat="cli in clientList.clients"><td width=70px><button class="btn btn-xs" ng-click="selectClient(cli.id)">Select</button></td><td>{{cli.last_name}}</td><td>{{cli.first_name}}</td><td>List of doggers</td></tr>
    </table>
</div>

<div ng-show="clientNew">
    <legend> New Client information</legend>
    <table class="table table-bordered">
        <!--<tr><th colspan="2">Client</th></tr> -->
        <tr><th width="25%">First Name:</th><td><input type="text" class="form-control" ng-model="formData.first_name"></td></tr>
        <tr><th width="25%">Last Name:</th><td><input type="text" class="form-control"  ng-model="formData.last_name"></td></tr>
        <tr><th width="25%">Phone:</th><td><input type="text" class="form-control"  ng-model="formData.phone" ui-mask="(999) 999-9999"></td></tr>
        <tr><th width="25%">Email:</th><td><input type="text"  class="form-control" ng-model="formData.email" ></td></tr>
        <tr><th width="25%">Best Way to Receive Media:</th><td><input type="text" class="form-control"  ng-model="formData.media_reception"></td></tr>
        <tr><th width="25%">Emergency Contact Name:</th><td><input type="text" class="form-control"  ng-model="formData.emergency_name"></td></tr>
        <tr><th width="25%">Emergency Contact Phone:</th><td><input type="text" class="form-control" ng-model="formData.emergency_phone" ui-mask="(999) 999-9999"></td></tr>
        <tr><td colspan="2">
            <button class="btn btn-sm btn-primary" ng-click="saveClient();">Save</button>
            <button class="btn btn-sm btn-default">Cancel</button>
        </td></tr>
    </table>
</div>

<div ng-show="clientView">
    <legend>Client information</legend>
    <!-- CLIENT -->
    <table class="table table-bordered">
        <!--<tr><th colspan="2">Client</th></tr> -->
        <tr><th width="25%">First Name:</th><td>{{formData.first_name}}</td></tr>
        <tr><th width="25%">Last Name:</th><td>{{formData.last_name}}</td></tr>
        <tr><th width="25%">Phone:</th><td>{{formData.phone | tel}}</td></tr>
        <tr><th width="25%">Email:</th><td>{{formData.email}}</td></tr>
        <tr><th width="25%">Best Way to Receive Media:</th><td>{{formData.media_reception}}</td></tr>
        <tr><th width="25%">Emergency Contact Name:</th><td>{{formData.emergency_name}}</td></tr>
        <tr><th width="25%">Emergency Contact Phone:</th><td>{{formData.emergency_phone | tel}}</td></tr>
        <tr></tr>
    </table>
    <!-- DOGS -->
    <legend>Dog information</legend>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Sex</th>
            <th>Breed</th>
            <th>Color</th>
            <th>Spayed/Neutered</th>
            <th>Behavior</th>
            <th>Existing Health Cond.</th>
            <th>Allergies</th>
            <th>Release</th>
            <th></th>
        </tr>
        <tr ng-repeat="dog in clientDogs">
            <!-- TODO: Add age -->
            <td>{{dog.name}}</td>
            <td>{{dog.sex}}</td>
            <td>{{dog.breed}}</td>
            <td>{{dog.color}}</td>
            <td>{{dog.spayed_neutered}}</td>
            <td>{{dog.behavior}}</td>
            <td>{{dog.existing_health_conditions}}</td>
            <td>{{dog.allergies}}</td>
            <td>{{dog.release_command}}</td>
            <td width="80px"><button class="btn btn-sm btn-default" ng-click="removeDog($index);">Remove</button></td>
            <!-- TODO: Implement Remove dog above -->
        </tr>
        <tr ><td colspan="10"><button class="btn  btn-sm btn-default" ng-click="dogIdFetch();" onclick="$('#trAddDogger').collapse('toggle');">Add Dog</button></td></tr>
        <tr class="collapse well" id="trAddDogger"><td colspan="10">
            <table class="table table-bordered">
                <tr><th colspan="2">Dogger</th></tr>
                <tr><th width="25%">Name:</th><td><input type="text" ng-model="dogFormData.name"></td></tr>
                <tr><th width="25%">Age:</th><td><input type="text" ng-model="dogFormData.age"></td></tr>
                <tr><th width="25%">Breed:</th><td><input type="text" ng-model="dogFormData.breed"></td></tr>
                <tr><th width="25%">Sex:</th><td><select  ng-model="dogFormData.sex"><option>Female</option><option>Male</option></select></td></tr>
                <tr><th width="25%">Color:</th><td><input type="text" ng-model="dogFormData.color"></td></tr>
                <tr><th width="25%">Kennel Size:</th><td><select  ng-model="dogFormData.kennel_size"><option>small</option><option>medium</option><option>large</option></select></td></tr>
                <tr><th width="25%">Spayed/Neutered:</th><td><select  ng-model="dogFormData.spayed_neutered"><option>Yes</option><option>No</option></select></td></tr>
                <tr><th width="25%">Behavior:</th><td><select  ng-model="dogFormData.behavior">
                    <option>People & Dog Friendly</option>
                    <option>Dog Aggressive</option>
                    <option>People Aggressive</option>
                    <option>People & Dog Aggressive</option>
                </select></td></tr>
                <tr><th width="25%">Pre-Existing Health Conditions:</th><td><input type="text" ng-model="dogFormData.existing_health_conditions"></td></tr>
                <tr><th width="25%">Allergies:</th><td><input type="text" ng-model="dogFormData.allergies"></td></tr>
                <tr><th width="25%">Release Command:</th><td><input type="text" ng-model="dogFormData.release_command"></td></tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-sm btn-primary" ng-click="saveDog()" onclick="$('#trAddDogger').collapse('toggle');">Save</button>
                        <button class="btn btn-sm btn-danger" onclick="$('#trAddDogger').collapse('toggle');">Cancel</button>
                    </td>
                </tr>
                </tr>
            </table>
        </td></tr>
    </table>
</div>

