<div>
    <legend>Dog Search</legend>
</div>

<div>
    <legend>Dog Search Results</legend>
    Search Results go here...
</div>

<div>
    <legend>Dog Management</legend>
    <table class="table table-bordered">
        <tr><th colspan="2">Dogger</th></tr>
        <tr><th>Name:</th><td><input type="text"></td></tr>
        <tr><th>Age:</th><td><input type="text"></td></tr>
        <tr><th>Breed:</th><td><input type="text"></td></tr>
        <tr><th>Sex:</th><td><input type="text"></td></tr>
        <tr><th>Color:</th><td><input type="text"></td></tr>
        <tr><th>Kennel Size:</th><td><select><option>small</option><option>medium</option><option>large</option></select></td></tr>
        <tr><th>Spayed/Neutered:</th><td><select><option>Yes</option><option>No</option></select></td></tr>
        <tr><th>Behavior:</th><td><select>
            <option>People & Dog Friendly</option>
            <option>Dog Aggressive</option>
            <option>People Aggressive</option>
            <option>People & Dog Aggressive</option>
        </select></td></tr>
        <tr><th>Pre-Existing Health Conditions:</th><td><input type="text"></td></tr>
        <tr><th>Allergies:</th><td><input type="text"></td></tr>
        <tr><th>Release Command:</th><td><input type="text"></td></tr>
    </table>
    <button class="btn btn-primary" ng-click="saveDog()">Save</button>
    <button class="btn btn-danger">Cancel</button>

</div>