<div>
    <div id="clientReservation" ng-init="fetchClients();fetchMasterReservationId();fetchReservationId();">
        <!-- NOTE: Some dogs will share a kennel -->
        <!--- TODO: Check out can not be less than Check in -->
        <legend>Reservation</legend>
        <table class="table table-bordered table-condensed">
            <tr><th>In</th>
                <td colspan="2" ng-show="checkinDone" ng-click="checkinEdit()">{{checkin.date | date: 'yyyy-MM-dd HH:mm' }}</td>
                <td colspan="2" ng-show="checkinNeed">
                    <div class="dropdown">
                        <a class="dropdown-toggle my-toggle-select" id="checkin" role="button" data-toggle="dropdown" >
                            <input type="text" class="form-control" data-ng-model="checkin.date">
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="checkin">
                            <datetimepicker data-ng-model="checkin.date"
                                            data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', minuteStep: 15 }"></datetimepicker>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr><th>Out</th>
                <td colspan="2" ng-show="checkoutDone" ng-click="checkoutEdit()">{{checkout.date | date: 'yyyy-MM-dd HH:mm'}}</td>
                <td colspan="2" ng-show="checkoutNeed">
                    <div class="dropdown">
                        <a class="dropdown-toggle my-toggle-select" id="checkout" role="button" data-toggle="dropdown" >
                            <input type="text" class="form-control" data-ng-model="checkout.date">
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="checkout">
                            <datetimepicker data-ng-model="checkout.date"
                                            data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', minuteStep: 15 }"></datetimepicker>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Client</th><td>
                <select class="form-control" ng-model="clientName" ng-options="c.full_name for c in clientList" ng-change="loadDogs();" ng-focus="clientSelectFocus();availKennels();"></select>
            </td><td width="55px"><button class="btn btn-sm btn-warning" ng-click="clientAdd()">Add...</button></td></tf>
            </tr>
            <tr><th>Cost:</th><td colspan="2"><input class="form-control" ng-model="train_cost" type="text"></td></tr>

            <!--
            <tr><th>Kennel</th><td colspan="2">{{kennelname}}</td></tr>
            -->
        </table>
        <!-- Dogger List -->
        <table class="table table-bordered table-condensed">
            <tr><th colspan="7">*Needs* Reservations</th></tr>
            <tr ng-repeat="dog in dogList">
                <td>{{dog.name}}</td>
                <td><select class="form-control" ng-model="kennelname" ng-options="ak.name for ak in avk"></select></td>
                <td><select class="form-control" ng-model="training">
                    <option>Boarding</option>
                    <option>Board & Tune</option>
                    <option>Board & Train</option>
                    <option>Board/Board & Tune Mix</option>
                </select></td>
                <td><input class="form-control" type="text" ng-model="training_amt" placeholder="Training Amount"></td>
                <!-- TODO: Addition of medication. Text Notes -->
                <td><input class="form-control" type="text" ng-model="medication" placeholder="Medication Info"></td>
                <td><input class="form-control" type="text" ng-model="notes" placeholder="Notes..." multiple></td>
                <!-- TODO: Slice out the dog from the list and put into a new table with an Edit button -->
                <!-- TODO: Addition of a transfer section to move a dog from one kennel to another -->
                <td><button class="btn btn-sm btn-default" ng-click="saveDogRes(dog.id,kennelname.kennel_id,training,training_amt,notes,medication,$index);">Save</button></td>
            </tr>
            <tr><td colspan="7"><button class="btn btn-sm btn-default">Add a pup-e-roni...</button></td></tr>
        </table>
        <table class="table table-bordered table-condensed" ng-show="confirmedRes">
            <tr><th colspan="7">Confirmed Reservation</th></tr>
            <tr ng-repeat="dogConf in dogListConfirmed">
                <td>{{dogConf.dog_name}}</td>
                <td>{{dogConf.kennel_name}}</td>
                <td>{{dogConf.training}}</td>
                <td>{{dogConf.medication}}</td>
                <td>{{dogConf.notes}}</td>
                <!-- TODO: Edit Functionality -->
                <td><button class="btn btn-sm">Edit</button></td>
                <!-- TODO: Transfer Functionality -->
                <td><button class="btn btn-sm">Transfer</button></td>
            </tr>
        </table>
    </div>
</div>