<div>
    <!-- TODO: Better Date formatting for the datepicker. -->
    <form role="form">
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <label>Kennel Size</label>
                        <div>
                            <select class="form-control" ng-model="kennel_size"><option>Small</option><option>Medium</option><option>Large</option></select>
                        </div>
                    </td>
                    <td>
                        <label>Check-in</label>
                        <div class="dropdown">
                            <a class="dropdown-toggle my-toggle-select" id="checkin" role="button" data-toggle="dropdown" >
                                <div class="input-append"><input type="text" class="form-control" data-ng-model="checkin.date"><span class="add-on"><i
                                        class="icon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="checkin">
                                <datetimepicker data-ng-model="checkin.date"
                                                data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                            </ul>
                        </div>
                    </td>

                    <td><label>Check-out</label>
                        <div class="dropdown">
                            <a class="dropdown-toggle my-toggle-select" id="checkout" role="button" data-toggle="dropdown" >
                                <div class="input-append"><input type="text" class="form-control" data-ng-model="checkout.date"><span class="add-on"><i
                                        class="icon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="checkout">
                                <datetimepicker data-ng-model="checkout.date"
                                                data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <label> </label>
                        <button class="form-control btn-primary btn-sm" ng-click="availKennels();" onclick="$('#availKennelDiv').collapse('toggle');">Search</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <div ng-show="hasResults" class="collapse" id="availKennelDiv">
        <table class="table table-bordered table-condensed">
            <tr><!--<th></th>--><th>Kennel</th><th>Size</th></tr>
            <tr ng-repeat="ak in avk"><!-- <td width="60px"><button class="btn btn-sm" onclick="$('#availKennelDiv').collapse('toggle');" ng-click="primeReservation(ak.name);">Select</button></td>--><td>{{ak.name}}</td><td>{{ak.size}}</td></tr>
        </table>
    </div>
    <div id="clientReservation" ng-show="makeReservation">
        <!-- NOTE: Some dogs will share a kennel -->
        <!-- NOTE: Addition of medication. Boolean -->
        <legend>Reservation</legend>
        <table class="table table-bordered table-condensed">
            <tr><th>In</th><td colspan="2">{{checkin.date}}</td></tr>
            <tr><th>Out</th><td colspan="2">{{checkout.date}}</td></tr>

            <tr><th>Client</th><td>
                <select class="form-control" ng-model="clientName" ng-options="c.full_name for c in clientList" ng-change="loadDogs()"></select>

            </td><td width="55px"><button class="btn btn-sm" ng-click="clientAdd()">Add...</button></td></tf></tr>

            <!--
            <tr><th>Kennel</th><td colspan="2">{{kennelname}}</td></tr>
            -->
        </table>
        <table class="table table-bordered table-condensed">
            <tr ng-repeat="dog in dogList">
                <td>{{dog.name}}</td>
                <td><select class="form-control" ng-model="kennelname" ng-options="ak.name for ak in avk"></select></td>
                <td><select class="form-control" ng-model="training">
                    <option>Boarding</option>
                    <option>Board & Tune</option>
                    <option>Board & Train</option>
                    <option>Board/Board & Tune Mix</option>
                </select></td>
                <td><input class="form-control" type="text" ng-model="notes" placeholder="Notes..." multiple></td>
                <td><button class="btn btn-sm btn-default" ng-click="saveDogRes(dog.id,kennelname.kennel_id,training,notes);">Save</button></button></td>
            </tr>
        </table>
    <!-- <label>Boarding Option</label> -->
    </div>
</div>