<div>
    <div id="clientReservation" ng-init="fetchClients();fetchMasterReservationId();fetchReservationId();">
        <!-- NOTE: Some dogs will share a kennel -->
        <legend>Reservation</legend>
        <table class="table table-bordered table-condensed">
            <tr><th>In</th>
                <td colspan="2" ng-show="checkinDone" ng-click="checkinEdit()">{{checkin.date | date: 'yyyy-MM-dd HH:mm' }}</td>
                <td colspan="2" ng-show="checkinNeed">
                    <div class="dropdown">
                        <a class="dropdown-toggle my-toggle-select" id="checkin" role="button" data-toggle="dropdown" >
                            <input type="text" class="form-control" data-ng-model="checkin.date" required>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="checkin">
                            <datetimepicker data-ng-model="checkin.date"
                                            data-on-set-time="checkinDoneFx"
                                            data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', minuteStep: 15, minView: 'minute' }">
                            </datetimepicker>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr><th>Out</th>
                <td colspan="2" ng-show="checkoutDone" ng-click="checkoutEdit()">{{checkout.date | date: 'yyyy-MM-dd HH:mm'}}</td>
                <td colspan="2" ng-show="checkoutNeed">
                    <div class="dropdown">
                        <a class="dropdown-toggle my-toggle-select" id="checkout" role="button" data-toggle="dropdown" >
                            <input type="text" class="form-control" data-ng-model="checkout.date" required>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="checkout">
                            <datetimepicker data-ng-model="checkout.date"
                                            data-on-set-time="checkoutDoneFx"
                                            data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', minuteStep: 15, minView: 'minute' }">
                            </datetimepicker>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Client</th><td>
                <select class="form-control" ng-model="clientName" ng-options="c.full_name for c in clientList" ng-change="loadDogs();" ng-focus="availKennels();">
                    <option value="addNew">-- New Client --</option>
                </select>
            </td><td width="55px"><button type="button" class="btn btn-sm btn-warning" ng-click="divClientAdd=true;inlineClientDogInsert();">Add Client/Dog</button></td></tr>
            <tr ng-show="divClientAdd">
                <td colspan="3">
                    <div ng-show="clientNew">
                        <legend> New Client information</legend>
                        <table class="table table-bordered">
                            <!--<tr><th colspan="2">Client</th></tr> -->
                            <tr><th width="25%">First Name:</th><td><input type="text" class="form-control" ng-model="formData.first_name"></td></tr>
                            <tr><th width="25%">Last Name:</th><td><input type="text" class="form-control"  ng-model="formData.last_name"></td></tr>
                            <tr><th width="25%">Phone:</th><td><input type="text" class="form-control"  ng-model="formData.phone" ui-mask="(999) 999-9999"></td></tr>
                            <tr><th width="25%">Email:</th><td><input type="text"  class="form-control" ng-model="formData.email" ></td></tr>
                            <tr><th width="25%">Best Way to Receive Media:</th><td><input type="text" class="form-control"  ng-model="formData.media_reception"></td></tr>
                            <tr><th width="25%">Emergency Contact Name:</th><td><input type="text" class="form-control"  ng-model="formData.emergency_name"></td></tr>
                            <tr><th width="25%">Emergency Contact Phone:</th><td><input type="text" class="form-control" ng-model="formData.emergency_phone" ui-mask="(999) 999-9999"></td></tr>
                            <tr><th width="25%">Current Boarding Agreement:</th><td><select  class="form-control"  ng-model="formData.boarding_agreement"><option>Yes</option><option>No</option></select></td></tr>
                            <tr><td colspan="2">
                                <button class="btn btn-sm btn-primary" ng-click="saveClient();">Save</button>
                                <button class="btn btn-sm btn-danger" ng-click="divClientAdd=false;">Cancel</button>
                            </td></tr>
                        </table>
                    </div>

                    <div ng-show="clientView">
                        <legend>Client information</legend>
                        <!-- CLIENT -->
                        <table class="table table-bordered">
                            <tr><th width="25%">First Name:</th><td><div>{{formData.first_name}}</div>
                                <div ng-show="editFirstName" class="well input-group">
                                    <input type="text" class="form-control" ng-model="value_edit" placeholder="Enter new value...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="updateDB('client','first_name');editFirstName=false;">Save</button>
                    <button class="btn btn-danger" ng-click="editFirstName=false;">Cancel</button>
                </span>
                                </div></td>
                                <td width="50px"><button class="btn btn-sm btn-warning" ng-click="editFirstName=true;">Edit</button></td></tr>

                            <tr><th width="25%">Last Name:</th><td><div>{{formData.last_name}}</div>
                                <div ng-show="editLastName" class="well input-group">
                                    <input type="text" class="form-control" ng-model="value_edit" placeholder="Enter new value...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="updateDB('client','last_name');editLastName=false;">Save</button>
                    <button class="btn btn-danger" ng-click="editLastName=false;">Cancel</button>
                </span>
                                </div></td>
                                <td width="50px"><button class="btn btn-sm btn-warning" ng-click="editLastName=true;">Edit</button></td></tr>

                            <tr><th width="25%">Phone:</th><td><div>{{formData.phone | tel}}</div>
                                <div ng-show="editPhone" class="well input-group">
                                    <input type="text" class="form-control" ng-model="value_edit" ui-mask="(999) 999-9999">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="updateDB('client','phone');editPhone=false;">Save</button>
                    <button class="btn btn-danger" ng-click="editPhone=false;">Cancel</button>
                </span>
                                </div></td>
                                <td width="50px"><button class="btn btn-sm btn-warning" ng-click="editPhone=true;">Edit</button></td></tr>


                            <tr><th width="25%">Email:</th><td><div>{{formData.email}}</div>
                                <div ng-show="editEmail" class="well input-group">
                                    <input type="text" class="form-control" ng-model="value_edit" placeholder="Enter new value...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="updateDB('client','email');editEmail=false;">Save</button>
                    <button class="btn btn-danger" ng-click="editEmail=false;">Cancel</button>
                </span>
                                </div></td>
                                <td width="50px"><button class="btn btn-sm btn-warning" ng-click="editEmail=true;">Edit</button></td></tr>

                            <tr><th width="25%">Best Way to Receive Media:</th><td><div>{{formData.media_reception}}</div>
                                <div ng-show="editMediaReception" class="well input-group">
                                    <input type="text" class="form-control" ng-model="value_edit" placeholder="Enter new value...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="updateDB('client','media_reception');editMediaReception=false;">Save</button>
                    <button class="btn btn-danger" ng-click="editMediaReception=false;">Cancel</button>
                </span>
                                </div>
                            </td><td width="50px"><button class="btn btn-sm btn-warning" ng-click="editMediaReception=true;">Edit</button></td></tr>

                            <tr><th width="25%">Emergency Contact Name:</th><td><div>{{formData.emergency_name}}</div>
                                <div ng-show="editEmergencyContact" class="well input-group">
                                    <input type="text" class="form-control" ng-model="value_edit" placeholder="Enter new value...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="updateDB('client','emergency_name');editEmergencyContact=false;">Save</button>
                    <button class="btn btn-danger" ng-click="editEmergencyContact=false;">Cancel</button>
                </span>
                                </div>
                            </td><td width="50px"><button class="btn btn-sm btn-warning" ng-click="editEmergencyContact=true;">Edit</button></td></tr>

                            <tr><th width="25%">Emergency Contact Phone:</th><td>{{formData.emergency_phone | tel}}
                                <div ng-show="editEmergencyPhone" class="well input-group">
                                    <input type="text" class="form-control" ng-model="value_edit" ui-mask="(999) 999-9999">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="updateDB('client','emergency_phone');editEmergencyPhone=false;">Save</button>
                    <button class="btn btn-danger" ng-click="editEmergencyPhone=false;">Cancel</button>
                </span>
                                </div></td><td width="50px"><button class="btn btn-sm btn-warning" ng-click="editEmergencyPhone=true;">Edit</button></td></tr>

                            <tr><th width="25%">Current Boarding Agreement:</th><td>{{formData.boarding_agreement}}<div ng-show="editCurrentBoardingAgree" class="well input-group">
                                <select class="form-control" ng-model="value_edit"><option>Yes</option><option>No</option></select>
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="updateDB('client','boarding_agreement');editCurrentBoardingAgree=false;">Save</button>
                    <button class="btn btn-danger" ng-click="editCurrentBoardingAgree=false;">Cancel</button>
                </span>
                            </div></td><td width="50px"><button class="btn btn-sm btn-warning" ng-click="editCurrentBoardingAgree=true;">Edit</button></td></tr>
                        </table>
                        <!-- DOGS -->
                        <legend>Dog information</legend>
                        <table class="table table-bordered">
                            <tr>
                                <th>Name</th>
                                <th>Sex</th>
                                <th>Age</th>
                                <th>Breed</th>
                                <th>Color</th>
                                <th>Spayed / Neutered</th>
                                <th>Behavior</th>
                                <th>Exist Health Cond.</th>
                                <th>Allergies</th>
                                <th>Release</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="dog in clientDogs track by $index">
                                <td>{{dog.name}}</td>
                                <td>{{dog.sex}}</td>
                                <td>{{dog.age}}</td>
                                <td>{{dog.breed}}</td>
                                <td>{{dog.color}}</td>
                                <td>{{dog.spayed_neutered}}</td>
                                <td>{{dog.behavior}}</td>
                                <td>{{dog.existing_health_conditions}}</td>
                                <td>{{dog.allergies}}</td>
                                <td>{{dog.release_command}}</td>
                                <td width="80px"><button class="btn btn-sm btn-primary" ng-click="viewEditDog(dog.id);" data-toggle="modal" data-target="#dogModal">View/Edit</button></td>

                                <td width="80px"><button class="btn btn-sm btn-danger" ng-click="removeDog($index,dog.id);">Remove</button></td>
                            </tr>
                            <tr ><td colspan="12"><button class="btn btn-sm btn-default" ng-click="dogIdFetch();" onclick="$('#trAddDogger').collapse('toggle');">Add Dog</button></td></tr>
                            <tr class="collapse well" id="trAddDogger"><td colspan="11">
                                <table class="table table-bordered">
                                    <tr><th colspan="2">Dog Information</th></tr>
                                    <tr><th width="25%">Name:</th><td><input class="form-control" type="text" ng-model="dogFormData.name"></td></tr>
                                    <tr><th width="25%">Age:</th><td><input  class="form-control" type="text" ng-model="dogFormData.age"></td></tr>
                                    <tr><th width="25%">Breed:</th><td><input  class="form-control" type="text" ng-model="dogFormData.breed"></td></tr>
                                    <tr><th width="25%">Sex:</th><td><select   class="form-control" ng-model="dogFormData.sex"><option>Female</option><option>Male</option></select></td></tr>
                                    <tr><th width="25%">Color:</th><td><input  class="form-control" type="text" ng-model="dogFormData.color"></td></tr>
                                    <tr><th width="25%">Kennel Size:</th><td><select   class="form-control" ng-model="dogFormData.kennel_size"><option>Small</option><option>Medium</option><option>Large</option></select></td></tr>
                                    <tr><th width="25%">Spayed/Neutered:</th><td><select  class="form-control"  ng-model="dogFormData.spayed_neutered"><option>Yes</option><option>No</option></select></td></tr>
                                    <tr><th width="25%">Behavior:</th><td><select class="form-control" ng-model="dogFormData.behavior">
                                        <option>People & Dog Friendly</option>
                                        <option>Dog Aggressive</option>
                                        <option>People Aggressive</option>
                                        <option>People & Dog Aggressive</option>
                                    </select></td></tr>
                                    <tr><th width="25%">Pre-Existing Health Conditions:</th><td><input  class="form-control" type="text" ng-model="dogFormData.existing_health_conditions"></td></tr>
                                    <tr><th width="25%">Vacinations:</th><td><table class="table table-bordered">
                                        <tr><th>Rabies:</th><td><input  class="form-control" type="text" ng-model="dogFormData.rabies" ui-mask="99/99/9999"></td></tr>
                                        <tr><th>Distemper:</th><td><input  class="form-control" type="text" ng-model="dogFormData.distemper" ui-mask="99/99/9999"></td></tr>
                                        <tr><th>Parvo:</th><td><input  class="form-control" type="text" ng-model="dogFormData.parvo" ui-mask="99/99/9999"></td></tr>
                                        <tr><th>Bordetella:</th><td><input  class="form-control" type="text" ng-model="dogFormData.bordetella" ui-mask="99/99/9999"></td></tr>
                                    </table>
                                    </td></tr>
                                    <tr><th width="25%">Allergies:</th><td><input  class="form-control" type="text" ng-model="dogFormData.allergies"></td></tr>
                                    <tr><th width="25%">Release Command:</th><td><input  class="form-control" type="text" ng-model="dogFormData.release_command"></td></tr>
                                    <tr><th>Notes:</th><td><textarea rows="4" class="form-control" type="text" ng-model="dogFormData.notes"></textarea></td></tr>
                                    <tr>
                                        <td colspan="2">
                                            <button class="btn btn-sm btn-primary" ng-click="saveDog()" onclick="$('#trAddDogger').collapse('toggle');">Save</button>
                                            <button class="btn btn-sm btn-danger" onclick="$('#trAddDogger').collapse('toggle');">Cancel</button>
                                        </td>
                                    </tr>
                                    </tr>
                                </table>
                            </td></tr>
                        </table>
                        <button class="btn btn-sm btn-primary" ng-click="divClientAdd=false;fetchClients();">Complete</button>
                    </div>
                </td>
            </tr>
            <tr><th>Cost:</th><td colspan="2"><input class="form-control" ng-model="train_cost" type="text"></td></tr>

            <!--
            <tr><th>Kennel</th><td colspan="2">{{kennelname}}</td></tr>
            -->
        </table>
        <!-- Dogger List -->
        <table class="table table-bordered table-condensed" ng-show="resNeeded">
            <tr><th colspan="7">*Needs* Reservations</th></tr>
            <tr ng-repeat="dog in dogList track by $index">
                <td>{{dog.name}}</td>
                <!-- TODO: Change this into a kennel selection form, or someway to change flow -->
                <td><select class="form-control" ng-model="kennelname" ng-options="ak.name for ak in avk"></select></td>
                <td><select class="form-control" ng-model="training">
                    <option>Boarding</option>
                    <option>Board & Tune</option>                                                        x`
                    <option>Board & Train</option>
                    <option>Board/Board & Tune Mix</option>
                </select></td>
                <td><input class="form-control" type="text" ng-model="training_amt" placeholder="Training Amount"></td>
                <td><input class="form-control" type="text" ng-model="medication" placeholder="Medication Info"></td>
                <td><input class="form-control" type="text" ng-model="notes" placeholder="Notes..." multiple></td>
                <td><button class="btn btn-sm btn-primary" ng-click="saveDogRes(dog.id,kennelname.kennel_id,training,training_amt,notes,medication,$index);">Save</button></td>
            </tr>
        </table>
        <table class="table table-bordered table-condensed" ng-show="confirmedRes">
            <tr><th colspan="7">Confirmed Reservation</th></tr>
            <tr ng-repeat="dogConf in dogListConfirmed">
                <td>{{dogConf.dog_name}}</td>
                <td>{{dogConf.kennel_name}}</td>
                <td>{{dogConf.training}}</td>
                <td>{{dogConf.medication}}</td>
                <td>{{dogConf.notes}}</td>
                <td><button class="btn btn-sm" ng-click="editDogReservation(dogConf.reservation_id,$index);">Edit</button></td>
                <!-- TODO: Transfer Functionality -->
                <td><button class="btn btn-sm">Transfer</button></td>
            </tr>
        </table>
    <button class="btn btn-primary" ng-click="completeReservation();" ng-show="confirmReady">Complete Reservation</button>
    </div>
</div>

<!-- Dog Modal -->
<div class="modal fade" id="dogModal" tabindex="-1" role="dialog" aria-labelledby="dogModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            -->
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr><th colspan="2">Dog Information</th></tr>
                    <tr><th width="25%">Name:</th><td><input class="form-control" type="text" ng-model="modalDogFormData.name"></td></tr>
                    <tr><th width="25%">Age:</th><td><input  class="form-control" type="text" ng-model="modalDogFormData.age"></td></tr>
                    <tr><th width="25%">Breed:</th><td><input  class="form-control" type="text" ng-model="modalDogFormData.breed"></td></tr>
                    <tr><th width="25%">Sex:</th><td><select   class="form-control" ng-model="modalDogFormData.sex"><option>Female</option><option>Male</option></select></td></tr>
                    <tr><th width="25%">Color:</th><td><input  class="form-control" type="text" ng-model="modalDogFormData.color"></td></tr>
                    <tr><th width="25%">Kennel Size:</th><td><select   class="form-control" ng-model="modalDogFormData.kennel_size"><option>Small</option><option>Medium</option><option>Large</option></select></td></tr>
                    <tr><th width="25%">Spayed/Neutered:</th><td><select  class="form-control"  ng-model="modalDogFormData.spayed_neutered"><option>Yes</option><option>No</option></select></td></tr>
                    <tr><th width="25%">Behavior:</th><td><select class="form-control" ng-model="modalDogFormData.behavior">
                        <option>People & Dog Friendly</option>
                        <option>Dog Aggressive</option>
                        <option>People Aggressive</option>
                        <option>People & Dog Aggressive</option>
                    </select></td></tr>
                    <tr><th width="25%">Pre-Existing Health Conditions:</th><td><input  class="form-control" type="text" ng-model="modalDogFormData.existing_health_conditions"></td></tr>
                    <tr><th width="25%">Vacinations:</th><td><table class="table table-bordered">
                        <tr><th>Rabies:</th><td><input  class="form-control" type="text" ng-model="modalDogFormData.rabies_exp" ui-mask="99/99/9999"></td></tr>
                        <tr><th>Distemper:</th><td><input  class="form-control" type="text" ng-model="modalDogFormData.distemper_exp" ui-mask="99/99/9999"></td></tr>
                        <tr><th>Parvo:</th><td><input  class="form-control" type="text" ng-model="modalDogFormData.parvo_exp" ui-mask="99/99/9999"></td></tr>
                        <tr><th>Bordetella:</th><td><input  class="form-control" type="text" ng-model="modalDogFormData.bordetella_exp" ui-mask="99/99/9999"></td></tr>
                    </table>
                    </td></tr>
                    <tr><th width="25%">Allergies:</th><td><input  class="form-control" type="text" ng-model="modalDogFormData.allergies"></td></tr>
                    <tr><th width="25%">Release Command:</th><td><input  class="form-control" type="text" ng-model="modalDogFormData.release_command"></td></tr>
                    <tr><th>Notes:</th><td><textarea rows="4" class="form-control" type="text" ng-model="modalDogFormData.notes"></textarea></td></tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-sm btn-primary" ng-click="saveModalDog();" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>