<div ng-init="initResView();">
    <legend>Reservation Details</legend>
    <!-- TODO: Establish Color coding: Scheduled, Checked-in, No-Show, See-Notes, Complete(Checked-out) -->
    <!-- TODO: A way to get here from a search screen -->
    <!--
        <label>Status:</label>
        <select>
            <option>Scheduled</option>
            <option>Checked-in</option>
            <option>No-Show</option>
            <option>See-Notes</option>
            <option>Complete(Checked-out)</option>
        </select>
    -->

    <table class="table table-bordered">
        <tr><th colspan="3">Client</th></tr>
        <tr><th>Main Contact:</th><td>{{reservationViewClient.last_name}}, {{reservationViewClient.first_name}}</td><td>{{reservationViewClient.phone}}</td></tr>
        <tr><th>Emergency Contact:</th><td>{{reservationViewClient.emergency_name}}</td><td>{{reservationViewClient.emergency_phone}}</td></tr>
    </table>

    <table class="table table-bordered">
        <tr><th colspan="4">Dog(s)</th></tr>
        <tr ng-repeat="res in reservationViewDog"><th>Name:</th><td>{{res.name}}</td><td>{{res.sex}} - {{res.color}} - {{res.behavior}} - {{res.training}}:{{res.training_amt}}</td></tr>
    </table>

    <table class="table table-bordered">
        <tr><th colspan="3">Reservation</th></tr>
        <tr><th>Check-in:</th><td>{{reservationViewClient.check_in | date:'MM/dd/yyyy @ h:mma'}}</td></tr>
        <tr><th>Check-out:</th><td>{{reservationViewClient.check_out |date:'MM/dd/yyyy @ h:mma'}}</td></tr>
        <tr><th>Status:</th><td>{{reservationViewClient.status}}</td></tr>
    </table>
</div>
